streamlit
PyMuPDF
nltk==3.8.1
scikit-learn==1.2.2
python-dotenv
fastapi==0.95.0
uvicorn==0.22.0
python-multipart==0.0.6
pytesseract==0.3.10
opencv-python==4.7.0.72
numpy==1.24.3
Pillow
jinja2==3.1.2
requests
matplotlib==3.7.1
pandas==2.0.0
easyocr==1.7.0
tabulate==0.9.0
